/* ---- HTML BODY ---- */

* {
  text-align: center;
  transition: 200ms;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(137, 220, 250);
}

/* ? DONE: Add a footer at the bottom of the page with your full name. */
footer {
  height: 500px;
  width: 100%;
  left: 0px;
  top: 95%;
  position: fixed;
  background-color: #00b4d8;
  filter: drop-shadow(0px 1px 3px rgb(0, 0, 0));
}

footer h2 {
  font-size: large;
  color: whitesmoke;
  padding-top: 5px;
  margin: auto;
}

.hide {
  display: none;
}

/* ---- Dark Mode ---- */

.dark-mode {
  background-color: rgb(75, 72, 72);
  color: rgb(157, 212, 76);
}

/* ---- Buttons ---- */

.face {
  animation: faceAnime 3s ease 5s infinite alternate-reverse both;
  background-color: aliceblue;
  margin: 20px;
  /* position: fixed; */
  margin: auto;
  font-size: xx-large;
  border-radius: 50%;
  border-width: 0px;
  height: 50px;
  width: 50px;
  padding: 1px;
  /* text-shadow: drop-shadow(5px 5px 10px #000); */
  /* text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5); */
}

.face:hover {
  font-size: x-large;
  cursor: pointer;
}

@keyframes faceAnime {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }

  10% {
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(2deg);
  }
}

.difficulty {
  font-size: large;
  background-color: rgb(255, 212, 212);
  border-radius: 6px;
  border-width: 2px;
  margin-bottom: 15px;
  /* box-shadow: 2px 2px 2px rgba(201, 201, 201, 0.763); */
  filter: drop-shadow(1px 1px 1px rgba(83, 83, 83, 0.749));
}

.difficulty:hover {
  background-color: pink;
  cursor: pointer;
  border-radius: 8px;
}
.difficulty:active {
  font-size: smaller;
}

.dark-mode-button {
  font-size: xx-large;
  /* position: absolute; */
  /* margin: auto; */
  /* top: 10%; */
  background-color: transparent;
  border-width: 0px;
}

.dark-mode-button:hover {
  opacity: 50%;
  cursor: pointer;
}
.score-button {
  font-size: xx-large;
  /* position: absolute; */
  /* margin-left: 5%; */
  /* margin: auto; */
  /* top: 10%; */
  background-color: transparent;
  border-width: 0px;
}

.score-button:hover {
  opacity: 50%;
  cursor: pointer;
}

/* ---- Panel ---- */

.head-pannel {
  margin: auto;
}

.time {
  color: rgb(245, 81, 21);
}

.pannel {
  background-color: aliceblue;
  /* margin-bottom: 15px;
    margin-top: 10px; */
  height: fit-content;
  width: fit-content;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 400px;
  filter: drop-shadow(1px 5px 5px rgba(83, 83, 83, 0.749));
}

.pannel td {
  padding: auto;
}

.score {
  font-size: x-large;
}

.score-board tbody tr td {
  background-color: rgb(232, 241, 255);
}

/* ---- Board ---- */

/*? DONE: Board keeps its position (shouldn't move) along all game phases */
.board,
.score-board {
  /* background-image: linear-gradient(#38b6ff, #00d4ff); */
  table-layout: fixed;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: aliceblue;
  filter: drop-shadow(1px 5px 5px rgba(83, 83, 83, 0.749));
}

.cell {
  /* white-space: nowrap; */
  /*? TODO DONE: cells are squares */
  /* max-height: 50px;
    min-height: 50px;
    max-width: 25px;
    min-width: 25px; */
  /* table-layout: fixed; */
  /* min-width: auto;
    min-height: auto; */
  width: 25px;
  height: 25px;
  text-align: center;
  padding: auto;
  font-size: 24px;
  /* margin-left: auto;
    margin-right: auto; */
  /* font-size: XX-large; */
  cursor: crosshair;
  background-color: rgb(232, 241, 255);
}

.dark {
  background-color: lightsteelblue;
}

.red {
  background-color: lightcoral;
}
