/* ---- HTML BODY ---- */

* {
  text-align: center;
  transition: 200ms;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  /** Light Mode Theme*/
  --body-bg: #89dcfa;
  --body-title-text-color: rgb(0, 0, 0);

  --button-face-bg: #f0f8ff;
  --button-difficulty-bg: #ffd4d4;
  --button-difficulty-border-color: #000000;
  --button-difficulty-dShadow: #535353bf;
  --button-hover-difficulty-bg: #ffc0cb;
  --button-darkmode-bg: transparent;
  --button-score-bg: transparent;

  --panel-time-text-color: #f55115;

  --table-panel-bg: #f0f8ff;
  --table-panel-dShadow: #535353bf;
  --table-board-score-bg: #f0f8ff;
  --table-board-score-dShadow: #535353bf;
  --table-board-cell-bg: #e8f1ff;
  --table-board-cell-dark-bg: #cad9ee;
  --table-board-cell-red-bg: #f08080;
  --table-score-cell-bg: #e8f1ff;

  --footer-bg: #00b4d8;
  --footer-dshadow: #000000;
  --footer-text-color: #f5f5f5;

  /* Body color */
  background-color: var(--body-bg);
}
body.dark-mode {
  /** Dark Mode Theme*/
  --body-bg: #494949; /*586069*/
  --body-title-text-color: #dcdee1;

  --button-face-bg: #f0f8ff;
  --button-difficulty-bg: #436ead;
  --button-difficulty-border-color: #808080;
  --button-difficulty-dShadow: #285513bf;
  --button-hover-difficulty-bg: #5876ef;
  --button-darkmode-bg: transparent;
  --button-score-bg: transparent;

  --panel-time-text-color: #f55115;

  --table-panel-bg: #4d789e;
  --table-panel-dShadow: #bcadad;
  --table-board-score-bg: #4d789e;
  --table-board-score-dShadow: #bcadad;
  --table-board-cell-bg: #599bb5;
  --table-board-cell-dark-bg: #5d7d92;
  --table-board-cell-red-bg: #a35353;
  --table-score-cell-bg: #5d7a92;

  --footer-bg: #416aa4;
  --footer-dshadow: #ffffff9c;
  --footer-text-color: #f5f5f5e4;

  /* Body color */
  background-color: var(--body-bg);
}

.title {
  color: var(--body-title-text-color);
}

.animate-title {
  animation: title 10s ease-in-out 16s 10 alternate-reverse both;
}

@keyframes title {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(6deg);
  }

  30% {
    transform: translateX(15px) rotate(-6deg);
  }

  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}

/* ? DONE: Add a footer at the bottom of the page with your full name. */
footer {
  height: 500px;
  width: 100%;
  left: 0px;
  top: 95%;
  position: fixed;
  background-color: var(--footer-bg);
  filter: drop-shadow(0px 1px 3px var(--footer-dshadow));
}

footer h2 {
  font-size: large;
  color: var(--footer-text-color);
  padding-top: 5px;
  margin: auto;
}

.hide {
  display: none;
}

/* ---- Buttons ---- */

.face {
  animation: faceAnime 3s ease 5s infinite alternate-reverse both;
  background-color: var(--button-face-bg);
  margin: 20px;
  /* position: fixed; */
  margin: auto;
  font-size: xx-large;
  border-radius: 50%;
  border-width: 0px;
  height: 50px;
  width: 50px;
  padding: 1px;
  /* text-shadow: drop-shadow(5px 5px 10px #000); */
  /* text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5); */
}

.face:hover {
  font-size: x-large;
  cursor: pointer;
}

@keyframes faceAnime {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }

  10% {
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(2deg);
  }
}

.difficulty {
  font-size: large;
  background-color: var(--button-difficulty-bg);
  border-color: var(--button-difficulty-border-color);
  border-radius: 6px;
  border-width: 2px;
  margin-bottom: 15px;
  /* box-shadow: 2px 2px 2px rgba(201, 201, 201, 0.763); */
  filter: drop-shadow(1px 1px 1px var(--button-difficulty-dShadow));
}

.difficulty:hover {
  background-color: var(--button-hover-difficulty-bg);
  cursor: pointer;
  border-radius: 8px;
}
.difficulty:active {
  font-size: smaller;
}

.dark-mode-button {
  animation: dark-mode-button 4s ease 2s infinite alternate-reverse both;
  font-size: xx-large;
  /* position: absolute; */
  /* margin: auto; */
  /* top: 10%; */
  background-color: var(--button-darkmode-bg);
  border-width: 0px;
}

@keyframes dark-mode-button {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1.2);
  }
}

.dark-mode-button:hover {
  opacity: 50%;
  cursor: pointer;
}

.score-button {
  animation: score-button 6s ease 12s 10 alternate-reverse both;
  font-size: xx-large;
  background-color: var(--button-score-bg);
  border-width: 0px;
  /* position: absolute; */
  /* margin-left: 5%; */
  /* margin: auto; */
  /* top: 10%; */
}

@keyframes score-button {
  /* 0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  } */

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

.score-button:hover {
  opacity: 50%;
  cursor: pointer;
}

/* ---- Panel ---- */

.head-pannel {
  margin: auto;
}

.time {
  color: var(--panel-time-text-color);
}

.pannel {
  background-color: var(--table-panel-bg);
  /* margin-bottom: 15px;
    margin-top: 10px; */
  height: fit-content;
  width: fit-content;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 400px;
  filter: drop-shadow(1px 5px 5px var(--table-panel-dShadow));
}

.pannel td {
  padding: auto;
}

.score {
  font-size: x-large;
}

.score-board tbody tr td {
  background-color: var(--table-score-cell-bg);
}

/* ---- Board ---- */

/*? DONE: Board keeps its position (shouldn't move) along all game phases */
.board,
.score-board {
  /* background-image: linear-gradient(#38b6ff, #00d4ff); */
  table-layout: fixed;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--table-board-score-bg);
  filter: drop-shadow(1px 5px 5px var(--table-board-score-dShadow));
}

.cell {
  /* white-space: nowrap; */
  /*? TODO DONE: cells are squares */
  /* max-height: 50px;
    min-height: 50px;
    max-width: 25px;
    min-width: 25px; */
  /* table-layout: fixed; */
  /* min-width: auto;
    min-height: auto; */
  width: 25px;
  height: 25px;
  text-align: center;
  padding: auto;
  font-size: 24px;
  /* margin-left: auto;
    margin-right: auto; */
  /* font-size: XX-large; */
  cursor: crosshair;
  background-color: var(--table-board-cell-bg);
}

/** When the cell in the board is clicked **/
.dark-cell {
  background-color: var(--table-board-cell-dark-bg);
}

.red-cell {
  background-color: var(--table-board-cell-red-bg);
}
